body{
    font-family:"Palatino Linotype";
    color:#000000;
    font-size:1.2em;
    line-height:1.4em;
    text-align:left;
    width:800px;
    margin:30px 30px;
}
h1{
    font-size:1.6em;
    font-variant:small-caps;
}
h2{
    font-size:1.2em;
    font-variant:small-caps;
}
.summary{
    font-size:1.4em;
    font-variant:small-caps;
    font-weight:bold;
    margin-top:20px;
}
.short_description{
    margin-top:20px;
}
.short_description_data{
    padding-right:30px;
}
.msContents,
.physDesc,
.history,
.additional{
    display:block;
    margin-right:50px;
    margin-top:20px;
}
.additional_listBibl_item{
    text-align:left;
    display:list-item;
    margin-left:30pt
}
.bibl_author{
    display:inline;
}
.bibl_book_title{
    display:inline;
    font-style:italic;
}
.bibl_journal_title{
    display:inline;
    font-style:italic;
}
.msItem{
    display:block;
    margin-bottom:20px;
}
.sub_msItem{
    display:block;
    margin-left:30px;
}
.msItem_nr,
.sub_msItem_nr,
.watermark_nr{
    font-weight:bold;
}
.author{
    display:inline;
}
.msItem_author{
    display:inline;
    font-variant:small-caps;
}
.bibl_book_title{
    display:inline;
    font-style:italic
}
.msItem_title{
    display:inline;
    font-style:italic;
    letter-spacing:0.1em
}
.incipit,
.explicit,
.msItem_rubric,
.msItem_finalRubric,
.colophon,
.note{
    display:block;
    text-indent:1em;
}
.incipit_head,
.explicit_head,
.msItem_rubric_head,
.msItem_finalRubric_head,
.colophon_head,
.note_head{
    display:inline;
    font-weight:bold;
}
.msItem_bibl{
    display:block;
    text-indent:1em;
}
.msItem_bibl_head,
.msItem_listBibl_head{
    display:inline;
    font-weight:bold;
}
.msItem_listBibl,
.listBibl{
    display:block;
    text-indent:1em;
}
.biblItem{
    display:block;
}
.objectDesc,
.supportDesc,
.watermarks,
.extent,
.foliation,
.collation,
.condition,
.layoutDesc,
.handDesc,
.additions,
.bindingDesc,
.decoDesc,
.origin,
.provenance,
.acquisition{
    display:block;
    margin-left:10px;
}
.objectDesc_head,
.supportDesc_head,
.dimensions_head,
.watermarks_head,
.extent_head,
.foliation_head,
.collation_head,
.condition_head,
.layoutDesc_head,
.handDesc_head,
.additions_head,
.bindingDesc_head,
.decoDesc_head,
.origin_head,
.provenance_head,
.acquisition_head{
    display:inline;
    font-weight:bold;
}
sub,
sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup{
    top:-0.5em;
}
sub{
    bottom:-0.25em;
}
